body {
    background-color: rgb(245, 229, 170);
    color: rgb(0, 0, 0);
  }

  h1 {
    font-weight: bold;
    color: rgb(0, 0, 0);
  }

  .image {
    text-align: center;
  }

  h2 {
    text-align: left;
  }
  pre{
    background-color:#d8d2d2
    padding：60px;
    }
    code{
    font-size: 16px;
    color: rgb(177, 177, 174);
    }
    .text-box {
    margin-top: 50px;
    margin-left: 40px;
}
.text-box h3 {
    font-size: 25px;
    color:rgb(123, 97, 2);
    text-decoration: none;
    border:2px solid #44b244;
    padding:15px 15px;
    border-radius: 16px;
    line-height:4em;
    display:inline;
}