@charset "utf-8";
body{font-size: 25px;}
.size p:nth-child(2) {font-size: 1em;}
.size p:nth-child(3) {font-size: 1rem;}
.color p:nth-child(1){color:rgb(95, 76, 38);}
.bgstyle p:nth-child(1) {
    width: 100px;
    height:200px;
}
    * {
        margin:0px;
        padding:0px;
    }
    ul {
        list-style:none;
        background: rgb(243, 231, 187);
        text-align: end;
    }
    ul li {
        display:inline-block;
        position:relative;
    }
    ul li a {
        background:rgb(243, 231, 187);
        display:block;
        padding:20px 45px ;
        color: rgb(95, 76, 38);
        text-decoration: none;
        font-size: 25px;
        font-weight: bold;
        text-align:center;
    }
    .dropdown {
        text-align: center;
        color: aliceblue;
        display:block;
        width:200px;
        padding:10px;
        background:rgb(243, 231, 187) ;
        position: absolute;
        z-index: 1;
        border-bottom-left-radius: 1px;
        top:74px;
        right: 0px;
        display: none;
    }
    ul li a:hover {
        color: #84ccd1;
    }
    ul li:hover ul.dropdown {
        display: block;
    }
    #active {
        color: #84ccd1;
        ;
    }
   main{
        background-color: rgb(250, 250, 243);
        background-image: url("images1/微信图片_20240510112739.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border:1px rgb(153, 150, 126);
        height: 1080px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .food2 {
        color: rgb(108, 92, 53);
        position:absolute;
        left:160px;
        right:36w;
        top: 150px;
    }
    .info p1 {
        animation-name: hc;
        animation-duration:0.5s;
        animation:-fill-mode: both;
    }
    .info h2 {
        animation-name: hc;
        animation-duration:0.5s;
        animation:-fill-mode: both;
    }
@keyframes hc {
    from {transform: translateY(30%);opacity: 0;}
    to{transform: translateY(0%);opacity:1;}
}
    .info {
        width:50%;
        padding:30px 1px;
        align-items: center;
        justify-content: center;
        margin-top:100px ;

    }
    .info p1{
        font-size: 25px;
        color: #ac890c;
        margin:10px 0;
    }
    .info p2{
        font-size: 25px;
        color:rgb(123, 97, 2);
        margin-bottom:20px; 
        margin-top:20px ;
        line-height:4px;
    }
    .info h2{
        font-size: 90px;
        color:rgb(123, 97, 2);
        margin-bottom:15px; 
        margin-top:2px ;

    }
    .food2 a{
        font-size: 25px;
        color:rgb(123, 97, 2);
        text-decoration: none;
        border:2px solid rgb(151, 143, 117);
        padding:15px 15px;
        border-radius: 16px;
        line-height:4em;
        display:inline;
        
    }
    .food2 {
        color:rgb(123, 97, 2);
        border: 5;
        display:flex;
    }
    .food2 li {
        display:inline;
        margin-right:2vw;
    }
    .food2 img{
        width:38.5%;
        padding:0px 63px 10px;
        margin:0.2px 0;
    }
    .introduce{
        height: 444px;
        display:flex;
        background-color:rgb(220, 215, 198);
        justify-content:space-between;
        background-color: rgb(250, 250, 243);
        background-image: url("images1/微信图片_20240510112739.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 900px;
        display: flex;
        align-items:center;
        justify-content:space-evenly;
        padding:100px 180px 80px;
        border:1px #bab8a4 solid;
    }
    .introduce h2 {
        font-size: 40px;
        color:rgb(95, 76, 38);
        display:flex;
        align-items:center; 
        padding:50px 50px 60px;
    }
   .introduce div{
    width:300px;
    text-align:center;
   }
   .introduce img {
    width:96%;
    border-radius:50px;
   }
.introduce a {
    font-size:20px;
    margin:20px 0;
    color:rgb(95, 76, 38);
    text-decoration: none;
        border:2px solid rgb(151, 143, 117);
        padding:15px 15px;
        border-radius: 16px;
        line-height:4em;
        display:inline;
}
.foot {
    background-color: rgb(206, 203, 194);
    color:rgb(53, 87, 87);
    height: 60px;
    display:flex;
    justify-content: center;
    align-items:center;
    font-size:14px;
}