head h3 {
    font-size: 25px;
        color:rgb(123, 97, 2);
        text-decoration: none;
        border:2px solid #44b244;
        padding:15px 15px;
        border-radius: 16px;
        line-height:4em;
        display:inline;
}
main {
    background-color: rgb(250, 250, 243);
    background-image: url("images1/微信图片_20240510112739.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border:1px rgb(153, 150, 126);
    height: 1000px;
    width: 100%;
    display: flex;
    flex-direction: column;
}